* {
    font-family: 'Arial', sans-serif;
    background-color: powderblue;
    color: rgb(97, 76, 59);
}

h1 {
    color: olivedrab;
    font-size: 50px;
    text-align: center;
}

h4 {
    color: olivedrab;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    border-radius: 20px;
    align-items: center;
    
}

a {
    color: goldenrod;
}

.divider{
    margin-top: 20px;
    margin-bottom: 20px;
}


#navigation{
    font-size: 30px;
    display: inline-block;
    list-style-image: url("/images/daisy.png");
    width: 40%;
}

#vases{
    display: inline;
    width: 30%;
    margin-left: 70px;
}